# === Python & Environments ===
__pycache__/
*.py[cod]
.venv/
env/
.ipynb_checkpoints/

# Keep the 00_/01_/02_/03_ directories tracked only via .gitkeep; ignore all other content in them
0*/**
!0*/.gitkeep

# === Delta Lake & Spark Metadata (Global) ===
# This catches logs/metadata at any depth in your project
**/_delta_log/
**/_checkpoints/
**/_staged_commits/
**/_SUCCESS
**/.crc
**/*.part-*

# === ml model ===
*.pkl


# === Specific Data Formats ===
*.parquet
*.csv
*.json
# Keep your actual source code JSONs if necessary:
# !config.json

# === IDE & OS ===
.vscode/
.idea/
.DS_Store
*.log